<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345451212762-katlbprss396dttj65pu70hd8nmv76ps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345451212762-katlbprss396dttj65pu70hd8nmv76ps</string>
	<key>API_KEY</key>
	<string>AIzaSyD1Og_Ye9_VBRglpvWCAbcmAfozpDZgVGg</string>
	<key>GCM_SENDER_ID</key>
	<string>345451212762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bink.localhero</string>
	<key>PROJECT_ID</key>
	<string>localhero-7db03</string>
	<key>STORAGE_BUCKET</key>
	<string>localhero-7db03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345451212762:ios:3ee0fb30396c30f99c9ae3</string>
</dict>
</plist>